body {
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  transition: background 200ms;
  background: #202025;
  color: white;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  overflow: hidden;
  font-weight: 400;
  font-family: "Source Sans Pro", monospace;
  letter-spacing: 0.05em;
}

pre {
  font-size: 0.6em;
  opacity: 0.3;
}

@keyframes dash {
  70% {
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0);
  }
  99% {
    stroke-dashoffset: 0;
    stroke: #fff;
    fill: white;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
    stroke: transparent;
  }
}
polygon {
  fill: rgba(255, 255, 255, 0);
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  stroke: #fff;
  animation: dash 2000ms linear forwards;
}

svg.rect {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

svg.diamond {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

@keyframes xyz {
  to {
    opacity: 1;
  }
}
@keyframes profile {
  to {
    opacity: 1;
    transform: translate(-44%, 0%);
  }
}
.center.profile .profile, .center.profile .diamond {
  display: initial;
}
.center.logo .logo, .center.logo .rect {
  display: initial;
}
.center .diamond, .center .rect {
  display: none;
}
.center .profile, .center .logo {
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.center .logo {
  width: 250px;
}
.center .logo img {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.center .logo img[src="/images/xyz1.svg"] {
  animation: xyz 1000ms ease-out forwards;
  animation-delay: 1500ms;
  -webkit-backface-visibility: hidden;
}
.center .logo img[src="/images/xyz2.svg"] {
  transition: opacity 500ms;
  -webkit-backface-visibility: hidden;
}
.center .logo:hover img[src="/images/xyz2.svg"] {
  opacity: 1;
}
.center .profile {
  width: 500px;
  clip-path: polygon(250px 0px, 500px 250px, 250px 500px, 0px 250px);
}
.center .profile img[src="/images/profile.png"] {
  width: 430px;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  display: block;
  transform: translate(-35%, 0%);
  animation: profile 1000ms ease-out forwards;
  animation-delay: 1500ms;
  -webkit-backface-visibility: hidden;
}

.center {
  display: initial;
}

pre {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkLink {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes fade {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.home ul, .gallery ul, .projects ul {
  list-style: none;
  font-size: 0.7em;
}
.home ul, .home ol, .gallery ul, .gallery ol, .projects ul, .projects ol {
  padding: 0;
  margin: 0;
}
.home ul li, .home ol li, .gallery ul li, .gallery ol li, .projects ul li, .projects ol li {
  margin-bottom: 0.4em;
  animation: fade 500ms ease-out forwards;
}
.home ul li:nth-child(1), .home ol li:nth-child(1), .gallery ul li:nth-child(1), .gallery ol li:nth-child(1), .projects ul li:nth-child(1), .projects ol li:nth-child(1) {
  animation-delay: 500ms;
}
.home ul li:nth-child(2), .home ol li:nth-child(2), .gallery ul li:nth-child(2), .gallery ol li:nth-child(2), .projects ul li:nth-child(2), .projects ol li:nth-child(2) {
  animation-delay: 600ms;
}
.home ul li:nth-child(3), .home ol li:nth-child(3), .gallery ul li:nth-child(3), .gallery ol li:nth-child(3), .projects ul li:nth-child(3), .projects ol li:nth-child(3) {
  animation-delay: 700ms;
}
.home ul li:nth-child(4), .home ol li:nth-child(4), .gallery ul li:nth-child(4), .gallery ol li:nth-child(4), .projects ul li:nth-child(4), .projects ol li:nth-child(4) {
  animation-delay: 800ms;
}
.home ul li:nth-child(5), .home ol li:nth-child(5), .gallery ul li:nth-child(5), .gallery ol li:nth-child(5), .projects ul li:nth-child(5), .projects ol li:nth-child(5) {
  animation-delay: 900ms;
}
.home ul li:nth-child(6), .home ol li:nth-child(6), .gallery ul li:nth-child(6), .gallery ol li:nth-child(6), .projects ul li:nth-child(6), .projects ol li:nth-child(6) {
  animation-delay: 1000ms;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  animation: blinkLink 4000ms step-end forwards;
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 200;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  animation: blink 4000ms step-end forwards;
  display: block;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.links .label {
  opacity: 0;
  font-style: italic;
  transform: rotate(90deg) translateX(100%);
  transform-origin: top right;
  animation: blink 4000ms step-end forwards;
  animation-delay: 500ms;
  display: block;
}
.links ul {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.2em;
  text-align: right;
  padding-right: 28px;
}
.links ul li {
  opacity: 0;
  text-transform: uppercase;
  transform: translateX(2em);
  display: block;
}

@keyframes background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home:before {
  content: "";
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50vw at calc(50% - 10vw) calc(50% - 10vw), #222222 0%, rgba(255, 255, 255, 0) 100%);
  animation: background 1000ms linear forwards;
}

.navigation {
  position: absolute;
  bottom: 35px;
  left: 0;
  display: block;
}
.navigation li {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-style: italic;
  opacity: 0;
  transform: translateX(-2em);
  animation: fade 500ms ease-out forwards;
  display: block;
}
.navigation li:nth-child(0) {
  margin-left: calc(0em - 1em);
}
.navigation li:nth-child(1) {
  margin-left: calc(1em - 1em);
}
.navigation li:nth-child(2) {
  margin-left: calc(2em - 1em);
}
.navigation li:nth-child(3) {
  margin-left: calc(3em - 1em);
}

.links a, .navigation a {
  color: rgba(255, 255, 255, 0.4);
}
.links a:hover, .navigation a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navlabel {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-style: italic;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  animation: blink 4000ms step-end forwards;
}
.navlabel a {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 0.2em;
}
.navlabel a.active, .navlabel a:hover {
  color: white;
}

.projects.hidden, .gallery.hidden, .home.hidden {
  display: none;
}
.projects.active, .gallery.active, .home.active {
  display: initial;
}

.projects ol {
  max-height: 100%;
  overflow-y: auto;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  counter-reset: li;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1em;
}
.projects li {
  position: relative;
  flex: 1;
  font-size: 0.23em;
  margin-bottom: 2em;
  list-style: none;
  margin-right: 3em;
}
@media screen and (min-width: 1000px) {
  .projects li {
    min-width: 25vw;
    max-width: calc(33% - 3em);
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .projects li {
    min-width: 40vw;
    max-width: calc(50% - 3em);
  }
}
@media screen and (max-width: 700px) {
  .projects li {
    min-width: calc(100% - 3em);
    max-width: calc(100% - 3em);
  }
}
.projects li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  top: 0.4em;
  left: 0;
  font-size: 2.8em;
}
.projects li .project:hover .desc {
  color: rgba(255, 255, 255, 0.7);
}
.projects li .project:hover .pos {
  opacity: 1;
}
.projects li .project .pos, .projects li .project .date {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0.45em;
  left: 2em;
  font-size: 2.8em;
}
.projects li .project .pos {
  opacity: 0;
}
.projects li .project .title {
  color: white;
  text-align: right;
  font-size: 4em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.projects li .project .desc {
  color: rgba(255, 255, 255, 0.4);
  font-size: 3.2em;
  pointer-events: none;
}

::-webkit-scrollbar-track {
  opacity: 0;
  background: #202025;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.4);
}

.gallery .albums {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.gallery .albums .close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.gallery .albums input {
  display: none;
}
.gallery .albums > div {
  position: relative;
  padding-top: 2em;
  margin-bottom: 1em;
}
.gallery .albums > div .label {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery .albums > div ul {
  height: calc(25vh - 2em);
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1em;
  white-space: nowrap;
}
.gallery .albums > div ul li {
  display: inline-block;
  height: 100%;
}
.gallery .albums > div ul li label {
  display: none;
}
.gallery .albums > div ul li > span > span {
  display: none;
}
.gallery .albums > div ul li img {
  width: auto;
  height: 100%;
  margin-right: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  image-orientation: from-image;
}
.gallery .albums.fullscreen {
  position: relative;
  height: 100%;
}
.gallery .albums.fullscreen .close {
  display: block;
}
.gallery .albums.fullscreen > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  pointer-events: none;
}
.gallery .albums.fullscreen > div > ul {
  height: calc(100vh - 10em);
  overflow: visible;
  pointer-events: none;
}
.gallery .albums.fullscreen > div .label {
  display: none;
}
.gallery .albums.fullscreen li {
  display: none;
}
.gallery .albums.fullscreen input:checked + li {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery .albums.fullscreen input:checked + li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .albums.fullscreen input:checked + li img {
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}
.gallery .albums.fullscreen input:checked + li > span > span {
  display: block;
  position: absolute;
  top: calc(100% + 2em);
  color: rgba(255, 255, 255, 0.4);
}
.gallery .albums.fullscreen input:checked + li > span > span > a {
  pointer-events: all;
  color: white;
}
.gallery .albums.fullscreen input:checked + li label {
  display: block;
  font-size: 4em;
  position: absolute;
  top: 50%;
  pointer-events: all;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 300ms;
  padding-left: 15px;
  padding-right: 15px;
  transform: translate(0px, -50%);
}
.gallery .albums.fullscreen input:checked + li label.prev {
  left: 0em;
}
.gallery .albums.fullscreen input:checked + li label.prev:hover {
  transform: translate(-5px, -50%);
}
.gallery .albums.fullscreen input:checked + li label.next {
  right: 0em;
}
.gallery .albums.fullscreen input:checked + li label.next:hover {
  transform: translate(5px, -50%);
}

.post {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.post .inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.post .inner.inner-smaller {
  max-width: 700px;
}
.post .label {
  margin-bottom: 1em;
}
.post hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.4);
}
.post .content {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  font-weight: 300;
}
.post a {
  color: rgba(255, 255, 255, 0.4);
}

.devlogs ol:after {
  display: none;
}
.devlogs li {
  min-width: 50vw;
}

/*# sourceMappingURL=styles.css.map */
